.calculator-dropdown-area{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 11px;
    background-color: #FFFFFF;
    width: 107px;
    z-index: 2;
    border: 1px solid #AAC5EB;
    overflow: hidden;
}

.calculator-dropdown-row{
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    cursor: pointer;
}

.calculator-dropdown-row.active{
    background-color: #E5EDF9;
}

.calculator-dropdown-row-image-container{
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.calculator-dropdown-row-image{
    width: 100%;
    height: 100%;
}