.rates-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-container{
    font-family: 'Manrope', sans-serif;
    width: calc(100% - 64px);
    background: 
        linear-gradient(rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.43)), 
        linear-gradient(360deg, #D4E1F5 0%, #6898DB 100%);
    border-radius: 11px;
    margin-top: 28px;
    position: relative;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    transition: opacity 0.3s ease;
}


.calculator-inputs-container{
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-top: 31px;
    margin-bottom: 21px;
}

.calculator-upper-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.calculator-dropdown-section{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;   
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.calculator-dropdown-section-currency-image-container{
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-dropdown-section-currency-image{
    height: 100%;
    width: 100%;
}

.calculator-dropdown-section-active-currency-title{
    margin-left: 6px;
}

.calculator-dropdown-section-arrow-image-container{
    width: 20px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px
}

.calculator-dropdown-section-arrow-image{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Плавная анимация */
    transform: rotate(0deg);
}

.calculator-dropdown-section-arrow-image.rotated {
  transform: rotate(180deg); /* Переворачиваем вверх */
}

.calculator-sum-input-container{
    width: calc(100% - 24px);
    background-color: #FFFFFFCC;
    border-radius: 11px;
    height: 46px;
    display: flex;
    margin-left: 12px;
    flex-direction: row;
}

.calculator-sum-input{
    border: none;
    background-color: transparent;
    padding-left: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    box-sizing: border-box;
    width: calc(100% - 65px);
}

.calculator-sum-input:focus{
    outline: none;
}

.calculator-sum-input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0000004D;
}

.calculator-sum-input-currency-name{
    background: transparent;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ACAEB1;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.calculator-arrow-image-container-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calculator-arrow-image-container{
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.calculator-arrow-image{
    width: 100%;
    height: 100%;
}

.calculator-cource-row{
    margin-top: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 81px;
}

.calculator-additional-info-container{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 76px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.calculator-additional-info-image-container{
    width: 24px;
    height: 24px;   
    min-width: 24px;
    min-height: 24px;
}

.calculator-additional-info-image{
    height: 100%;
    width: 100%;
}

.calculator-additional-info-text{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #6F747C;
}

.calculator-cource-row-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}