.toggle-rates-container {
  margin-top: 28px;
  width: calc(100% - 64px);
  display: flex;
  height: 50px;
  border-radius: 42px;
  background-color: #FFFFFFD4;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  overflow: hidden;
  font-family: 'Monrope', sans-serif;
  justify-self: center;
  border: 1px solid #0000001F;
  backdrop-filter: blur(18px);
  box-shadow: 0px 1px 1px 0px #00000040 inset,
  0px 4px 12px 0px #0000001F;

}

.toggle-rates-button {
  flex: 1 1 0;
  border: none;
  background: transparent;
  color: #00000080;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
   -webkit-tap-highlight-color: transparent;
}

.toggle-rates-button.active {
  background: linear-gradient(90deg, #0D5BD6 47.12%, #0B4BC2 62.98%);
  box-shadow: 0px 2px 8px 0px #0000003D;
  color: #FFFFFF;
  border-radius: 20px;
  flex: 1.2;
  font-weight: 800;
  font-size: 18px;
}

.toggle-rates-button:not(.active):hover {
  background-color: #FFFFFFD4;
  outline: none;
}