.main-page-cources-table{
    color: #000000;
    margin-top: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-cources-table-header{
    display: flex;
    flex-direction: row;
    width: calc(100% - 44px);
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 25px;
}

.main-page-cources-table-header-subcolumns{
    width: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-page-cources-table-header-item{
    white-space: nowrap;
}

.main-page-cources-breakline{
    width: 100%;
    height: 1px;
    background-color: #E6EEF9;
}