.main-page-cources-row{
    display: flex;
    flex-direction: row;
    width: calc(100% - 44px);
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 38px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.main-page-cources-currency-container{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    width: 80px;
}


.main-page-cources-currency-image-container{
    width: 24px;
    height: 16px;
}

.main-page-cources-currency-image{
    width: 100%;
    height: 100%;
}

.main-page-cources-subimage-container{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.main-page-cources-subimage{
    width: 100%;
    height: 100%;
}

.main-page-cources-subcolumns-container{
    width: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-cources-subcolumn{
    flex: 1;
    text-align: center;

}