.loyalty-progress-bar-title{
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}

.loyalty-progress-bar-text{
    margin-top: 12px;
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.loyalty-progress-bar-completed {
    background-color: lightblue;
    height: 100%; 
    width: var(--progress-width, 0%);;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.8) 56.25%);
    transition: width 1s ease-in-out; 
    border-radius: inherit; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    animation: auto ease 0s 1 normal none running none;
}

.loyalty-progress-bar-container{
    margin-top: 17px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.279) 0%, rgba(255, 255, 255, 0.0496) 100%);
    border-radius: 30px;
    height: 16px;
    width: calc(100% - 48px);
    justify-self: center;
}

.loyalty-progress-bar-progress-text-container{
    margin-top: 30px;
    justify-self: center;
    width: 242px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loyalty-progress-bar-subitem-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.loyalty-progress-bar-subitem-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}

.loyalty-progress-bar-subitem-value{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}