.loyalty-program-card{
    width: calc(100% - 64px);
    height: 240px;
    border-radius: 11px;
    margin-top: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
}

.loyalty-program-card-inner{
    position: relative;
    width: 100%;
    background: linear-gradient(93.22deg, #000000 -60.96%, #062D6B 27.93%, #0D5BD7 100.01%);
    box-shadow: 0px 4px 18px 0px #00000040,
        0px 2px 17.5px 0px #00000017 inset;
    height: 100%;
    border-radius: 11px;
    color: #FFFFFF;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.loyalty-program-card.flipped .loyalty-program-card-inner {
  transform: rotateY(180deg);
}

.loyalty__face{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

.loyalty__face:nth-child(2) {
  transform: rotateY(180deg);
}

.loyalty-program-card-title{
    margin-left: 24px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0%;
}

.loyalty-program-card-text-section{
    margin-left: 24px;
    margin-top: 29px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.loyalty-program-card-text-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.loyalty-program-card-text-row-image-container{
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loyalty-program-card-text-row-image{
    width: 100%;
    height: 100%;
}

.loyalty-program-card-hand-image-container{
    position: absolute;
    top: 15px;
    right: 24px;
    animation: swing 2s ease-in-out infinite;
    height: 23px;
    width: 21px;
}

.loyalty-program-card-hand-image{
    width: 100%;
    height: 100%;
}

@keyframes swing {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.loyalty-program-card-levels-section{
    margin-top: 27px;
    margin-left: 29px;
    margin-right: 31px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.loyalty-program-card-levels-row{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.loyalty-program-card-level-title{
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    width: 100px;
}

.loyalty-program-card-level-percent{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}

.loyalty-program-card-level-sum{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFCC;
    width: 90px;
    text-align: right;
}