.referal-link-container{
    background: linear-gradient(93.22deg, rgba(75, 181, 255, 0.7) -60.96%, #0D4FD3 100.01%);
    width: calc(100% - 64px);
    justify-self: center;
    height: 266px;
    margin-top: 28px;
    box-shadow: 0px 6px 18px 0px #00000040;
    border-radius: 11px;
    color: #FFFFFF;
    position: relative;
    padding-top: 28px;
    box-sizing: border-box;
}

.referal-link-title{
    margin-left: 28px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}

.referal-link-link-container{
    margin-top: 24px;
    height: 46px;
    box-sizing: border-box;
    padding: 11px 13px 11px 20px;
    display: flex;
    margin-left: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.48)),
    linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 4px 0px #00000040 inset,
    0px 4px 12px 0px #00000024;
    width: calc(100% - 48px);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    border-radius: 16px;

}

.referal-link-text{
    width: 77%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
}

.referal-link-text::-webkit-scrollbar{
    display: none;
}

.referal-link-copy-image-container{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.referal-link-copy-image{
    height: 100%;
    width: 100%;
}

.referal-link-text-container{
    margin-top: 20px;
    width: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.referal-link-text-subitem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.referal-link-text-subitem-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.referal-link-text-subitem-value{
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    color: #FFFFFF99;
}

.referal-link-additional-text{
    margin-top: 24px;
    width: calc(100% - 64px);
    justify-self: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}