.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 86px;
    border-top: 0.5px solid #01005580;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #010055;
    background-color: #FFFFFF;
}

.footer-items-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-item-image-container{
    width: 31px;
    height: 31px;
}

.footer-item-image{
    width: 100%;
    height: 100%;
}

.br-breakline{
    height: 100px;
    width: 100%;
}