.header{
    height: 80px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #01005580;;
}

.logo-container{
    width: 73px;
    height: 73px;
    margin-top: 4px;    
}

.logo{
    max-width: 100%;
    max-height: 100%
}
